<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark text-white">
      <h4 class="display-10 navbar-text">&nbsp; &copy; Copyright &copy; Pear Group - Survey - 2021</h4>
    </nav>
  </footer>
<!--Script Section-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>
</html>