<%- include ./partials/header.ejs %>
 <main class="container">
   <div>
    <body>
      <div class="container">
              <table class="table table-center",>
          <thead>
            <tr>
              <th class="center"><h1>Welcome to Pear Survey Builder</h1> </th>
            </tr>
                          <br>
          </thead>
          <tbody>
            <tr>
            
              <td><h4><b> Would you like to have a better understanding of your customers, your employees, and your competitors?</b></h4></td>
            </tr>
            <tr>
              <th><h4>Our survey builder will help you to collect all that important data that will collaborate with your business decision. </h4></th>
            </tr>
            <tr>
              <th scope="row"><h4>With an easy and interactive application that will save you time and money.</h4></th>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
        <img src="content/assets/images/survey.jpg" alt="logo" style= "height: 500px; width: 300x;"></a>
        </div>
    </div>
    </body>
   </div>
 </main>
<%- include ./partials/footer.ejs %>
